body {
  background-color: #222;
  color: #ddd;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ccc;
}

.route {
  font-variant: small-caps;
  text-shadow: 1px 1px 1px #000;
}

.route {
  color: #aaa;
}

.active {
  color: #eee;
}

