body {
  background-color: #222;
  color: #ddd;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ccc;
}

article {
  min-width: 20em;
  max-width: 40em;
  padding-left: 2vw;
  padding-right: 2vw;
  line-height: 1.6em;
}

.default-margin {
  margin: 2em;
}

.route {
  font-variant: small-caps;
  text-shadow: 1px 1px 1px #000;
}

.route {
  color: #aaa;
}

.active {
  color: #eee;
}

