@font-face {
  font-family: 'Cartograph CF';
  src: url('/fonts/CartographCF-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cartograph CF';
  src: url('/fonts/CartographCF-RegularItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cartograph CF';
  src: url('/fonts/CartographCF-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cartograph CF';
  src: url('/fonts/CartographCF-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

* {
    font-family: 'Cartograph CF'; 
}

